html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #C9B260;
  text-decoration: none; 
  -thickness: 3px;
  text-decoration-skip-ink: auto;
  font-size: 2rem;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}
body {
  color: #C9B260;
  background: #212357;
}